
/*Small tablets to big tablet: 768px to 1023px */

@media only screen and (max-width: 1023px) {
   
    header {
        padding-top: 10px;
      }

    .nav-header {
        font-size: 13px;
      }
      
      .navbar li {
        margin-left: 15%;
      }
    
}


/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

    header {
        padding-top: 5px;
      }

    .nav-header {
        font-size: 10px;
      }
    
    .navbar li {
        margin-left: 10%;
      }

    #dissertation{
        font-size: 9px;
    }

    #papers{
        font-size: 9px;
    }

    #presentations{
        font-size: 9px;
    }

    .column2 ul:first-child{
        padding-top: 90%;
      }

}

/* Small phones: 0px to 480px */
@media only screen and (max-width: 480px) {

    header {
        padding-top: 10px;
      }

      .nav-header {
        font-size: 8px;
      }
    
      .navbar li {
        margin-left: 10%;
      }

      #dissertation{
        font-size: 6px;
    }

    #papers{
        font-size: 6px;
    }

    #presentations{
        font-size: 6px;
    }

    .column2 ul:first-child{
        padding-top: 110%;
      }

}


