/* Forces horizontal scrollbar on in Mozilla */

html,
body {
  background-color: #F0EFEB;
  text-rendering: optimizeLegibility;
}

body {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font: 500 0.8em georgia, serif;
  line-height: 150%
}

/**************************************************************
   Header
 **************************************************************/

 header {
  background-color: #3c5d2929;
  background-size: cover;
  background-position: center;
  height: 8%;
  text-align: center;
}

.navbar li {
  float: left;
  display: block;
  margin-right: 2em;
  margin-left: 10%;
  line-height: 150%
}

.navbar ul {
  list-style: none;
  text-align: center;
  font-size: small;
}

/**************************************************************
   Text
 **************************************************************/

.heading {
  text-align: left;
  width: 50%;
  margin-top: 10%;
}

.heading ul h3 {
  line-height: 20px;
}

.text {
  text-align: right;
  width: 80%;
}

.a{
  color: #283618;
}

.text ul p {
  line-height: 20px;
}

/* Adjust the width of the first column */
#column1 {
  flex: 2; /* This column will be twice as wide as the second column */
}

/* You can add more specific styles to the second column if needed */
#column2 {
  flex: 1; /* This column will be half as wide as the first column */
}

.column2 ul:first-child{
  padding-top: 50%;
}

#dissertation {
  display: flex;
  background-color: #F0EFEB;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: #3C5D29 solid 1px;
  border-bottom: #3C5D29 solid 1px;
  padding-bottom: 2%;
}

#dissertation h5,
#dissertation p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

#papers {
  display: flex;
  background-color: #F0EFEB;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: #3C5D29 solid 1px;
  border-bottom: #3C5D29 solid 1px;
  padding-bottom: 2%;
}

#papers h5,
#papers p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

#presentations {
  display: flex;
  background-color: #F0EFEB;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: #3C5D29 solid 1px;
  border-bottom: #3C5D29 solid 1px;
  padding-bottom: 2%;
}

#presentations h5,
#presentations p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

h1 {   
  clear: both;
  font: 1000 1.9em georgia, serif;
  color: #131313;  
  padding-top: 40px;
  font-size: 18px;
}

h3 {
  font: 600 1.1em georgia, serif;
  padding: 8%;
}

.content {
  margin: 0;
}

/**************************************************************
   Links
 **************************************************************/

a {
  text-decoration: none;
  color: #000000;  
}

a:hover {
  color: #515250;
}

/**************************************************************
   Footer
 **************************************************************/

footer {
  background-image: linear-gradient(#98b5a7, white);
  background-size: cover;
  background-position: center;
  height: 10%;
}

/**************************************************************
   Not in use
 **************************************************************/

/*
acronym {
  cursor: help;
  border-bottom: 1px solid #DDD;
}

blockquote {
  margin: 10px 0;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

blockquote p {
  margin: 0.4em 0.8em;
}

del {
  color: #AAA;
}

code {
  margin: 15px 0;
  padding: 10px;
  display: block;
  overflow: auto;
  
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  
  background: #F4F4F4;
  border-bottom: 1px solid #D3D3D3;
}
*/
