
html{
  background-color: #F0EFEB;
  /*background-image: url("../resources/img/blueprint.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-rendering: optimizeLegibility;
}

body {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font: 500 0.8em georgia, serif;
  line-height: 200%
}

.row {
  max-width: 1140px;
}

/**************************************************************
   Header
 **************************************************************/

header {
  background-color: #3c5d2929;
  background-size: cover;
  background-position: center;
  height: 70px;
  text-align: center;
  padding-top: 2%;
}

/**************************************************************
   Text
 **************************************************************/

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:  300px;
  height: 300px; 
  border: #28361862 solid 1px;
}

.heading {
  width: 50%;
  margin-top: 2%;
}

.heading ul h3 {
  line-height: 100%;
}

.text {
  text-align: left;
  width: 50%;
  margin-top: 1%;
}

.text ul p {
  line-height: 150%;
}

#teaching {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: #283618 solid 1px;
  border-bottom: #283618 solid 1px;
  padding-bottom: 2%;
}

#teaching h3,
#teaching p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font: 1em;
}

h1 {   
  clear: both;
  font: 1000 1.9em georgia, serif;
  color: #283618;  
  padding-top: 5%;
  font-size: x-large;
}

h3 {
  padding: 2%;
}

.content {
  margin: 0;
}

/**************************************************************
   Links
 **************************************************************/

a {
  text-decoration: none;
  color: #000000;  
}

a:hover {
  color: #515250;
}

/**************************************************************
   Not in use
 **************************************************************/

/*
acronym {
  cursor: help;
  border-bottom: 1px solid #DDD;
}

blockquote {
  margin: 10px 0;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

blockquote p {
  margin: 0.4em 0.8em;
}

del {
  color: #AAA;
}

code {
  margin: 15px 0;
  padding: 10px;
  display: block;
  overflow: auto;
  
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  
  background: #F4F4F4;
  border-bottom: 1px solid #D3D3D3;
}
*/
