/*Small tablets to big tablet: 768px to 1023px */

@media only screen and (max-width: 1023px) {
     .banner-2 {
        font-size: 12px;
    }

    .social-links {
        font-size: 30px;
    }

    .banner-3 img {
        width: 80px;
    } 

}


/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .banner-2 {
        font-size: 12px;
    }

    .social-links {
        font-size: 25px;
    }

    .banner-3 img {
        width: 60px;
    } 
    
}

/* Small phones: 0px to 480px */
@media only screen and (max-width: 480px) {

    .banner-2 {
        font-size: 10px;
    }

    .social-links {
        font-size: 20px;
    }
    
    .banner-3 img {
        width: 50px;
    }

}


