/*Small tablets to big tablet: 768px to 1023px */

@media only screen and (max-width: 1023px) {
     .banner-2 {
        font-size: 14px;
    }

    header img{
        margin-left: 20%;
        margin-right: 30%;
        height: 100px;
    }

    .social-links {
        list-style: none;
        margin-left: 30%;
        font-size: 18px;
        word-spacing: 10px;
        color: #fff;
        display: block;
    }

}


/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .banner-2 {
        font-size: 14px;
    }

    header img{
        margin-left: 20%;
        margin-right: 30%;
        height: 60px;
    }

    .social-links {
        font-size: 14px;
    }

}

/* Small phones: 0px to 480px */
@media only screen and (max-width: 480px) {

    .banner-2 {
        font-size: 10px;
    }

    header img{
        margin-left: 20%;
        margin-right: 10%;
        height: 60px;
    }

    .social-links {
        font-size: 10px;
    }

}


