
/*------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*background-color: #B2D3C2;*/
    color: rgb(219, 212, 212);
    font-family: 'PT Serif', serif; /* Get font in CSS through https://fonts.google.com/ */
    font-weight: 400;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

h1{
    color: #fff;
    font-size: 240%;
    font-weight: 200;
}



/*------------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*------------------------------------------*/
/* HEADER */
/*------------------------------------------*/


header {
    background-color: #C4C5BA;
    /*background-image: linear-gradient(#9dc183, #B2D3C2);*/
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 165px;
}

header p {
    position: relative;
    color: white;
    border-bottom: 1px solid #444C38;

}

/* Links */ 
/*
.social-links {
    list-style: none;
    margin-left: 30%;
    font-size: 50px;
    word-spacing: 10px;
    color: #fff;
    display: block;
}
*/

.social-links {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    float: left; 
    color: #fff;
    font-size: 50px;
    width: 80%; /* Adjust the width as needed */
}

.social-links li a{
    color: #fff;
}

.header-text,
.social-links li { /* This selects all li elements within the profile element */
    display: inline-block;
    color: #fff;
}

.header-text a:link, /* The link at the non-visited state and visited state */
.header-text a:visited,
.social-links li a:link,
.social-links li a:visited {
    color: #fff;
    text-decoration: none;
}

.header-text a:hover, 
.header-text a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #444C38;
}

/* About me */ 

.banner-1 {
    width: 23%;
    max-width: 100%;
}

.banner-2 {
    width: 50%;
    max-width: 100%;
    line-height: 150%;
    text-align: center;
    font-size: 16px;
}

.banner-3 {
    width: 23%;
}

.banner-3 img {
    width: 100px; 
    margin-left: 30%;
    max-width: 100%;
    height: auto;
    border: outset;
    border-color: #444C38;
}

/*------------------------------------------*/
/* MAIN PAGE */
/*------------------------------------------*/


.section-main {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.special-heading-tag {
    color: #444C38;
}

.special-heading-border {
    border-color: #444C38;
    display: block;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    position: relative;
    top: 10%;
    opacity: 0.15;
}

.grid-container {
    display: flex; /* Change from grid to flex */
    justify-content: space-between; /* Adjust as needed */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    flex: 1;
}

.grid-item {
    text-align: center;
    padding: 4%;
    flex: 1; /* This will make each item take up equal space */
}

.grid-item h4 {
    color: #9dc183;
}

.grid-item img, a img {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

h4 {
    font-size: 18px;
    line-height: 1.1em;
    margin-bottom: 5%;
    text-transform: none!important;
}


/*Links photo */

a:link {
    text-decoration: none;
  }

a h4:hover{
    color: #444C38;
}


.main-photo {
    margin: 0;
    overflow: hidden;
}

.main-photo img {
    opacity: 1;
    transform: scale(1.15);
    transition: transform 0.2s, opacity 0.2s;
}

.main-photo img:hover {
    opacity: 0.8;
    transform: opacity(1.03);
}

.main-photo img:hover ~ .grid-item h4 {
    color: #444C38; 
}

.main-photo img:hover ~ .main-photo-2 h2 {
    color: rgba(195, 197, 204, 0.726);
}


.main-photo img:hover ~ .main-photo-3 h4 {
    color: rgba(195, 197, 204, 0.726);
}


.main-photo img:hover ~ .grid-item h4 {
    color: rgba(195, 197, 204, 0.726);
}


/*------------------------------------------*/
/* BUTTONS */
/*------------------------------------------*/

.btn:link,
.btn:visited {
    margin-top: 40px;
    display: inline-block;
    padding: 20px 70px;
    font-weight: 200; /* You should always decrease the font weight when you have big headlines */ 
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    font-size: 25px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #bdc3c7; /* Get colors through https://flatuicolors.com/palette */ 
    border: 1px solid #bdc3c7; 
    margin-right: 30px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #bdc3c7; 
}

.btn:hover,
.btn:active {
    background-color: #a1aab0; /* Find darker shaded colors through https://www.0to255.com/ */
}



/*------------------------------------------*/
/* CV */
/*------------------------------------------*/
/*
.CV-main {
    text-align: center;
}

.CV-contact {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    line-height: 150%;
}

.CV-header {
    padding-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    line-height: 150%;
    width: 10%;
    border: 10% solid black;
    float: left;
    position: relative;
}

.CV-experience {
    padding-left: 12%;
    margin-top: 2%;
    line-height: 150%;
    width: 70%;
    border: 10% solid black;
    float: left;
    position: relative;
}

.CV-dates {
    font-size: 70%;
}

.CV-other-list {
    margin-left: 5%;
}
*/